/* Etiquetas */


body{
    background-color: #fd5835;
}
footer{
    background-color: black;
    color: cornsilk;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}
label {
    font-size: 20px;
}

input[type="text"], input[type="date"], input[type="file"], input[type="number"], input[type="password"] {
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(83, 45, 2);
    resize: vertical;
}

/* ID */


#Titulo{
    color: white;
    font-family: cursive;
    font-size: 40px;
    text-align: center;
}

#formulario{
    margin: auto;
    width: 40%;
    background-color: rgb(211, 211, 211);
    border-radius: 10px ;
    padding: 12px;

}


/* Clases*/

.navbar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
}

.navbar a:hover{
    background-color: darkgrey;
}


.btn{
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
}


.btnVerde {
    background-color: rgb(17, 182, 58);


}

.btnVerde:hover {
    background-color: rgb(30, 100, 12);
}

.btnRojo {
    background-color: rgb(197, 6, 6);
        
}

.btnRojo:hover {
    background-color: rgb(104, 5, 5);
}



.nav{
    background-color: black;
}

